.common-client-wrap{
    position: absolute;
    top: 5%;
    height: 90%;
    width: rem(640);
    left: 50%;
    margin-left: rem(-320);
    background: #fffcf4;
    border: rem(2) solid #ffd756;
    border-radius: rem(28);
    z-index: 11;
    -webkit-animation: bounceInDown 1s ease both;
	animation: bounceInDown 1s ease both;
    &.jhm-wrap{
        height: rem(600);
    }
    .fan-list-wrap{
        width: 100%;
        height: rem(680);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        li{
            position: relative;
            height: rem(138);
            line-height: rem(138);
            overflow: hidden;
            border-bottom: rem(2) solid #ededed;
            .fl-avatar{
                display: inline-block;
                width: rem(80);
                height: rem(80);
                border-radius: 50%;
                vertical-align: middle;
                margin-left: rem(25);
            }
            .fl-name{
                display: inline-block;
                font-size: rem(30);
                color: #333;
                vertical-align: middle;
                margin-left: rem(20);
            }
            .fl-vip{
                display: inline-block;
                width: rem(60);
                height: rem(30);
                text-align: center;
                line-height: rem(30);
                font-size: rem(20);
                color: #95750e;
                vertical-align: middle;
                margin-left: rem(10);
                background: #ffc300;
                border-radius: rem(10);
            }
        }
    }
    .cc-form{
        width: 100%;
        text-align: center;
        margin-top: rem(40); 
        .ccf-input{
            display: inline-block;
            border: none;
            width: rem(525);
            height: rem(100);
            border: rem(2) solid #cfcfcf;
            text-align: center;
            line-height: rem(100);
            margin-bottom: rem(35);
        }
    }
    .cc-big-note{
        margin-top: rem(180);
        width: 100%;
        height: rem(180);
        text-align: center;
        .ccb-t{
            font-size: rem(48);
            color: #333;
            span{
                color: #ffc100;
            }
        }
        .ccb-d{
            font-size: rem(36);
            color: #333;
        }
    }
    .cc-picnote{
        margin-top: rem(20);
    }
    .cc-title{
        position: relative;
        width: 100%;
        height: rem(105);
        line-height: rem(105);
        text-align: center;
        border-bottom: rem(2) solid #cfcfcf;
        font-size: rem(36);
        color: #333;
    }
    .cc-close{
        position: absolute;
        width: rem(60);
        height: rem(60);
        font-size: rem(60);
        text-align: center;
        line-height: rem(60);
        top: rem(16);
        right: rem(10);
    }
    .cc-fans-nav{
        height: rem(95);
        text-align: center;
        .fn-unit{
            display: inline-block;
            width: rem(160);
            height: rem(52);
            text-align: center;
            line-height: rem(52);
            font-size: rem(26);
            color: #d39742;
            background: #f9f3e0;
            margin: rem(15) rem(15);
            &.cur{
                background: #ffd756;
                color: #333;
            }
        }
    }
    .cc-list{
        height: rem(600);
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        border-top: rem(2) solid #ededed;
        li{
            position: relative;
            height: rem(88);
            line-height: rem(88);
            border-bottom: rem(2) solid #ededed;
            .desc{
                display: inline-block;
                width: rem(330);
                overflow: hidden;
                text-indent: rem(30);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .num{
                top: 0;
                right: rem(140);
                position: absolute;
                font-size: rem(30);
                &.red{
                    color: #ff7200;
                }
                &.green{
                    color: #38cf15;
                }
            }
            .state{
                position: absolute;
                top: rem(26);
                right: rem(28);
                width: rem(100);
                height: rem(43);
                text-align: center;
                line-height: rem(43);
                &.yellow{
                    color: #a3a3a3;
                    background: #ffd85e;
                }
                &.gray{
                    background: #a3a3a3;
                    color: #FFF;
                }
            }
        }
    }
    .cc-ctrl{
        position: relative;
        width: 100%;
        height: rem(310);
        text-align: center;
        .ccc-title{
            width: 100%;
            height: rem(80);
            line-height: rem(80);
            text-align: center;
            font-size: rem(24);
            color: #999;
            text-align: center;
        }
        .ccc-value{
            width: 100%;
            height: rem(128);
            text-align: center;
            font-size: rem(60);
            color: #ff7200;
            font-weight: bold;
        }
        .ccc-out{
            display: inline-block;
            width: rem(260);
            height: rem(70);
            text-align: center;
            line-height: rem(70);
            font-size: rem(30);
            color: #333;
            background: #ffc100;
            border-radius: rem(30);
        }
        .ccc-in{
            display: inline-block;
            width: rem(260);
            height: rem(70);
            text-align: center;
            line-height: rem(70);
            font-size: rem(30);
            color: #333;
            background: #ff7200;
            border-radius: rem(30);
        }
    }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
