@charset "UTF-8";
$font_size : 75;

@function rem($pixels){
    @return $pixels / $font_size + rem;
}

@import "base/page";
@import "base/base";

@import "base/window";
@import "img";

.hide{
    display: none;
    opacity: 0;
    pointer-events: none;
    width: 0 !important;
    height: 0 !important;
}

.disable{
    pointer-events: none;
}

div.legoToast-inner{
    height: auto;
}
body {
    font: $b-font-weight #{$b-font-size}/#{$b-line-height} $b-font-family;
    color: $c-text;
    a {
        text-decoration: none;
        color: nth($c-link, 1);
        &:hover {
            text-decoration: underline;
            color: nth($c-link, 2);
        }
    }
}
.user-shouzu-add{
    position: fixed;
    right: rem(38);
    bottom: rem(100);
    font-size: rem(30);
    color: #ffc000;
    font-weight: bold;
    text-shadow: rem(3) rem(3) rem(3) #FFF;
    z-index: 10;
}

.select-build-wrap{
    position: fixed;
    top: rem(200);
    width: rem(620);
    height: rem(770);
    left: 50%;
    margin-left: rem(-310);
    z-index: 11;
    -webkit-animation: bounceInDown 1s ease both;
	animation: bounceInDown 1s ease both;
    .sb-title{
        position: absolute;
        height: rem(100);
        line-height: rem(100);
        text-align: center;
        width: 100%;
        left: 0;
        top: 0;
        font-size: rem(36);
        color: #FFF;
    }
    .sb-bt{
        position: absolute;
        width: rem(263);
        height: rem(82);
        text-align: center;
        line-height: rem(82);
        font-size: rem(36);
        color: #333;
        bottom: rem(40);
        border-radius: rem(30);
        &.cancel{
            background: #929077;
            left: rem(33);
        }
        &.sure{
            background: #ffc100;
            right: rem(33);
        }
    }
    .sb-list{
        position: absolute;
        left: 0;
        top: rem(118);
        li{
            position: relative;
            float: left;
            width: rem(150);
            height: rem(210);
            border: rem(3) solid #61652f;
            text-align: center;
            margin-left: rem(42);
            margin-bottom: rem(30);
            &.cur{
                border: rem(3) solid #dce56b;
            }
            .sbl-cover{
                position: absolute;
                width: rem(100);
                left: 50%;
                top: rem(18);
                margin-left: rem(-50);
            }
            .sbl-txt{
                position: absolute;
                top: rem(138);
                left: 0;
                width: 100%;
                text-align: center;
                font-size: rem(24);
                color: #FFF;
            }
            .sbl-gold{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                color: #ffcc00;
                font-size: rem(30);
                &::before{
                    content: '';
                    display: inline-block;
                    width: rem(30);
                    height: rem(30);
                    background: url('../img/page/coin.png') no-repeat;
                    background-size: 100% auto;
                    vertical-align: middle;
                }
            }
        }
    }
    &::before{
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.8);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: rem(4) solid #FFF;
        border-radius: rem(20);
    }
}


.game-wrap{
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: rem(405);
    .area-wrap{
        position: relative;
        width: 100%;
    }
    .area-wrap-block{
        position: relative;
        height: rem(600);
        width: 100%;
        .street-block-add{
            position: absolute;
            background: url('../img/page/cbd/street-block-add.png') no-repeat;
            background-size: rem(260) rem(207);
            width: rem(260);
            height: rem(207);
            right: rem(-12);
            top: rem(440);
            z-index: 8;
        }
        .carmovedown.topadapt1{
            z-index: 0;
            margin-top: rem(-40);
            margin-left: rem(-440);
        }
        .carmovedown.topadapt2{
            z-index: 2;
            margin-top: rem(110);
            margin-left: rem(160);
        }
        .carmovetop.topadapt1{
            z-index: 0;
            margin-top: rem(-290);
            margin-left: rem(-50);
        }
        .carmovetop.topadapt2{
            z-index: 2;
            margin-top: rem(120);
            margin-left: rem(160);
        }
        &:nth-child(2n+1)::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: rem(70);
            pointer-events: none;
            background: url('../img/decoration/dc_1.png') no-repeat;
            background-size: 100% auto;
            z-index: 9;

        }
        &:nth-child(2n)::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: rem(50);
            pointer-events: none;
            background: url('../img/decoration/dc_2.png') no-repeat;
            background-size: 100% auto;
            z-index: 9;
        }
        .area-unit{
            position: absolute;
            width: rem(363);
            height: rem(215);
            background: url('../img/page/cbd/null_area.png') no-repeat;
            background-size: 100% auto;
            .shop{
                position: absolute;
                width: 60%;
                &.t4s{
                    top: -20%;
                    left: 20%;
                }
                &.t71{
                    top: -25%;
                    left: 25%;
                }
                &.tcs{
                    top: -5%;
                    left: 25%;
                }
                &.thg{
                    top: -35%;
                    left: 25%;
                }
                &.tmv{
                    top: -40%;
                    left: 25%;
                }
            }
            &.build{
                background: url('../img/page/cbd/fill_area.png') no-repeat;
                background-size: 100% auto;
                -webkit-animation: bounceIn 1s ease both;
	            animation: bounceIn 1s ease both;
            }
            &:nth-child(1){
                top: rem(53);
                left: rem(204);
                z-index: 1;
            }
            &:nth-child(2){
                top: rem(180);
                left: rem(420);
                z-index: 1;
            }
            &:nth-child(3){
                top: rem(200);
                left: rem(-35);
                z-index: 3;
            }
            &:nth-child(4){
                top: rem(320);
                left: rem(183);
                z-index: 3;
            }
        }
    }
}
.game-bg-wrap{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #9298a1;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(683);
        background: url('../img/page/cbd/top-block.jpg') no-repeat 0 rem(-130);
        background-size: 100% auto; 
    }
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: rem(813);
        width: 100%;
        height: 100%;
        background: url('../img/page/cbd/street-block.jpg') repeat-y;
        background-size: 100% auto; 
    }
}

.topdown-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: rem(200);
    height: rem(200);
    .car{
        left: 0;
        top: 0;
    }
    .car-ld1{
        position: absolute;
        width: rem(93);
        height: rem(79);
    }
    .car-lt1{
        position: absolute;
        width: rem(123);
        height: rem(74);
    }
    .car-lt2{
        position: absolute;
        width: rem(91);
        height: rem(68);
    }
    .car-rd1{
        position: absolute;
        width: rem(97);
        height: rem(80);
    }
    .car-rt1{
        position: absolute;
        width: rem(79);
        height: rem(57);
    }
    .car-rt2{
        position: absolute;
        width: rem(86);
        height: rem(71);
    }
    .car-rt3{
        position: absolute;
        width: rem(93);
        height: rem(67);
    }
    
}

.carmovedown{
    animation:carmovetodown 16s infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes carmovetodown {
    0% {top: rem(0);opacity: 0;}
	1% { top: rem(0);opacity: 1; }
    50% { top: rem(500);opacity: 1;}
    100% { top: rem(500); opacity: 0;}
}

.carmoveright{
    animation:carmovetoright 16s infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes carmovetoright {
    0% { left: rem(-50);opacity: 0;  }
	1% { left: rem(-50);opacity: 1; }
    50% { left: rem(800);opacity: 1; }
    100% { left: rem(800);opacity: 0; }
}

.carmovetop{
    animation:carmovetotop 16s infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes carmovetotop {
    0% { top: rem(500);opacity: 0;  }
	1% { top: rem(500); opacity: 1;}
    50% { top: rem(0);opacity: 1;}
    100% { top: rem(0);opacity: 0;}
}

.carmoveleft{
    animation:carmovetoleft 16s infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes carmovetoleft {
    0% { left: rem(800); opacity: 0; }
    1% { left: rem(800); opacity: 1;}
    50% { left: rem(-50); opacity: 1;}
    100% { left: rem(-50);opacity: 0; }
}

.pt-delay8{
    animation-delay:8s;
}

.pt-delay6{
    animation-delay:6s;
}

.pt-delay4{
    animation-delay:4s;
}



.pt-page-moveToTopFade {
	-webkit-animation: moveToTopFade 1.8s ease both;
	animation: moveToTopFade 1.8s ease both;
}

@-webkit-keyframes moveToTopFade {
	from { }
	to { opacity: 0.0; -webkit-transform: translateY(-200%); }
}
@keyframes moveToTopFade {
	from { }
	to { opacity: 0.0; -webkit-transform: translateY(-200%); transform: translateY(-200%); }
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}