@charset "UTF-8";
$font_size : 75;

@function rem($pixels){
    @return $pixels / $font_size + rem;
}

@import "base/page";
@import "base/base";

@import "base/window";
@import "img";

body {
    font: $b-font-weight #{$b-font-size}/#{$b-line-height} $b-font-family;
    color: $c-text;
    a {
        text-decoration: none;
        color: nth($c-link, 1);
        &:hover {
            text-decoration: underline;
            color: nth($c-link, 2);
        }
    }
}

.select-build-wrap{
    position: absolute;
    top: rem(200);
    width: rem(620);
    height: rem(770);
    left: 50%;
    margin-left: rem(-310);
    .sb-title{
        position: absolute;
        height: rem(100);
        line-height: rem(100);
        text-align: center;
        width: 100%;
        left: 0;
        top: 0;
        font-size: rem(36);
        color: #FFF;
    }
    .sb-list{

    }
    &::before{
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.8);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: rem(4) solid #FFF;
        border-radius: rem(20);
    }
}

.hide{
    display: none;
    opacity: 0;
    pointer-events: none;
}
.game-wrap{
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: rem(405);
    .area-wrap{
        position: relative;
        width: 100%;
    }
    .area-wrap-block{
        position: relative;
        height: rem(603);
        width: 100%;
        .area-unit{
            position: absolute;
            width: rem(363);
            height: rem(215);
            background: url('../img/page/cbd/null_area.png') no-repeat;
            background-size: 100% auto;
            .shop{
                position: absolute;
                width: 60%;
                &.t4s{
                    top: -20%;
                    left: 20%;
                }
                &.t71{
                    top: -25%;
                    left: 25%;
                }
                &.tcs{
                    top: -5%;
                    left: 25%;
                }
                &.thg{
                    top: -35%;
                    left: 25%;
                }
                &.tmv{
                    top: -40%;
                    left: 25%;
                }
            }
            &.build{
                background: url('../img/page/cbd/fill_area.png') no-repeat;
                background-size: 100% auto;
            }
            &:nth-child(1){
                top: rem(53);
                left: rem(204);
            }
            &:nth-child(2){
                top: rem(180);
                left: rem(420);
            }
            &:nth-child(3){
                top: rem(200);
                left: rem(-35);
            }
            &:nth-child(4){
                top: rem(320);
                left: rem(183);
            }
        }
    }
}
.game-bg-wrap{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #9298a1;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(683);
        background: url('../img/page/cbd/top-block.jpg') no-repeat 0 rem(-130);
        background-size: 100% auto; 
    }
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: rem(813);
        width: 100%;
        height: 100%;
        background: url('../img/page/cbd/street-block.jpg') repeat-y;
        background-size: 100% auto; 
    }
}