.bottom {
    position: fixed;
    bottom: 0;
    width: 750px;
    height: 100px;
    background-image: url(../img/bottom-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    padding-right: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__btn {
        @extend %ir;
        width: 164px;
        height: 66px;
        background-image: url(../img/base64/bottom-btn.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
