@charset "utf-8";

@import "lib/mixin";
@import "lib/normalize";
@import "lib/reset";


@import "common/base";
@import "common/extend";
@import "common/animate";

@import "module/common/page";
@import "module/common/header";
@import "module/common/nav";
@import "module/common/bottom";

.desc {
    height: 1000px;

    &__content {
        animation-duration: .3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: fadeIn;
    }
}